<h1>Editing Task</h1>

<%= render 'form' %>

<div class="row"> 
  <div class="col-md-12">
    <br>
    <%= link_to t('.show'), @task, class: "btn btn-success" %>
    <%= link_to t('.back'), :back, class: "btn btn-primary" %>
  </div>
</div>