<div class = "row">
	<div class = "col-md-4">
		<h1><%= t('.tasks') %></h1>
	</div>
	<div class = "col-md-4 pad-top">
		<% if !session[:user_id].nil? %>
		  <%= link_to new_user_task_path(User.find(session[:user_id])), class: "btn btn-success" do %>
		    <i class="glyphicon glyphicon-plus"></i> <%= t('.new-task') %>
		  <% end %>
		<% end %>
	</div>
</div>

<%= render 'layouts/tasks' %>


