<div id="user_nav">
  <% if current_user %>
    Welcome, <%= current_user.name %>!
    <%= link_to "Sign Out", signout_path, class:  'btn btn-primary' %>
  <% else %>
    <%= link_to "Sign in", login_path, class:  'btn btn-primary' %>
  <% end %>
</div>

<h1>Welcome!</h1>

<%= render 'tasks' %>