<h1>Editing Level</h1>

<%= render 'form' %>

<div class="row">	
	<div class="col-md-12">
		<br>
		<%= link_to t('.show-level'), @level, class: "btn btn-success" %>
		<%= link_to t('.back'), levels_path, class: "btn btn-primary" %>
	</div>
</div>
