@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 64px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.navbar-inverse .navbar-text{
	color: #ffffff
}
.css1 { font-size: 0.2em; }
.css2 { font-size: 0.7em; }
.css3 { font-size: 1.2em; }
.css4 { font-size: 2.0em; }
.description {
	padding: 32px;
	background-color: #f4f4f4; 
}
.search {
	padding-top: 9px
}
.lang-selector {
	padding-top: 9px
}

html,
body {
  height: 100%;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
}
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.container .credit {
  margin: 20px 0;
}
.pad-top {
  padding-top: 18px
}
