@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 64px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.navbar-inverse .navbar-text{
	color: #ffffff
}
.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }
.description {
	padding: 32px;
	background-color: #f4f4f4; 
}
.search {
	padding-top: 9px
}