<h1>_CATEGORIES</h1>

<div class="row">
  <% @categories.each do |category| %>
  <div class="col-md-1">
    <%= link_to category.name, category_path(category), class: "btn btn-default" %>
  </div>
<% end %>
</div>

<div class="row">
  <div class = "col-md-12">
    <br>
    <%= link_to 'New Category', new_category_path, class: "btn btn-success" %>
  </div>
</div>